<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>test</string>
		<key>description</key>
		<string>test Route</string>
		<key>lotType</key>
		<string>T</string>
		<key>searchKey</key>
		<string>ZH</string>
		<key>latitude</key>
		<real>34.240163539</real>
		<key>longitude</key>
		<real>108.9045780074</real>
	</dict>
	<dict>
		<key>title</key>
		<string>C</string>
		<key>description</key>
		<string>$5.00 Permit controlled/ Visitor pay and display Accept coin, WatCard, Visa or Mastercard</string>
		<key>lotType</key>
		<string>C</string>
		<key>searchKey</key>
		<string>daily; HH; PAS; EV1; EV2; EV3; AL; ML; TC; SCH</string>
		<key>latitude</key>
		<real>43.467536</real>
		<key>longitude</key>
		<real>-80.53837900000001</real>
	</dict>
	<dict>
		<key>title</key>
		<string>N</string>
		<key>description</key>
		<string>$5.00 Permit controlled/ Visitor pay and display Accept coin, WatCard, Visa or Mastercard</string>
		<key>lotType</key>
		<string>N</string>
		<key>searchKey</key>
		<string>daily; COM; CSB; ERC; GSC; M3</string>
		<key>latitude</key>
		<real>43.47491</real>
		<key>longitude</key>
		<real>-80.54455900000001</real>
	</dict>
	<dict>
		<key>title</key>
		<string>W</string>
		<key>description</key>
		<string>$5.00 Permit controlled/ Visitor pay and display Accept coin, WatCard, Visa or Mastercard</string>
		<key>lotType</key>
		<string>W</string>
		<key>searchKey</key>
		<string>daily; CIF; WFF</string>
		<key>latitude</key>
		<real>43.474777</real>
		<key>longitude</key>
		<real>-80.547579</real>
	</dict>
	<dict>
		<key>title</key>
		<string>X</string>
		<key>description</key>
		<string>$5.00 Permit controlled/ Visitor pay and display Accept coin, WatCard, Visa or Mastercard Free on weekends beginning on Fridays at 4:30 p.m.</string>
		<key>lotType</key>
		<string>X</string>
		<key>searchKey</key>
		<string>daily; BSC</string>
		<key>latitude</key>
		<real>43.477526</real>
		<key>longitude</key>
		<real>-80.545492</real>
	</dict>
	<dict>
		<key>title</key>
		<string>M</string>
		<key>description</key>
		<string>$6.00 Visitor pay and display Accept coin, WatCard, Visa or Mastercard</string>
		<key>lotType</key>
		<string>Visitor</string>
		<key>searchKey</key>
		<string>daily; FED; UC; PAC; AHS; LHI; BMH</string>
		<key>latitude</key>
		<real>43.47323</real>
		<key>longitude</key>
		<real>-80.54685000000001</real>
	</dict>
	<dict>
		<key>title</key>
		<string>D</string>
		<key>description</key>
		<string>$2.00 hourly Max $15 After 3:45 p.m. and weekends: $5 flat rate Reservations/Visitor Pay and display Visa or MasterCard only</string>
		<key>lotType</key>
		<string>Visitor</string>
		<key>searchKey</key>
		<string>NH; STC; B1; B2; QNC; LIB; ML</string>
		<key>latitude</key>
		<real>43.46993</real>
		<key>longitude</key>
		<real>-80.54351</real>
	</dict>
	<dict>
		<key>title</key>
		<string>J</string>
		<key>description</key>
		<string>$5.00 Permit controlled/ Visitor pay and display Pay in Lot S Pay and display permits are valid in J, S, V Accept coin, WatCard, Visa or Mastercard</string>
		<key>lotType</key>
		<string>Visitor</string>
		<key>searchKey</key>
		<string>daily; V1</string>
		<key>latitude</key>
		<real>43.47286</real>
		<key>longitude</key>
		<real>-80.55022</real>
	</dict>
	<dict>
		<key>title</key>
		<string>S</string>
		<key>description</key>
		<string>$5.00 Permit controlled/ Visitor pay and display Pay in Lot S Pay and display permits are valid in J, S, V Accept coin, WatCard, Visa or Mastercard</string>
		<key>lotType</key>
		<string>Visitor</string>
		<key>searchKey</key>
		<string>daily; MKV</string>
		<key>latitude</key>
		<real>43.47181</real>
		<key>longitude</key>
		<real>-80.5532</real>
	</dict>
	<dict>
		<key>title</key>
		<string>V</string>
		<key>description</key>
		<string>$5.00 Permit controlled/ Visitor pay and display Pay in Lot S Pay and display permits are valid in J, S, V Accept coin, WatCard, Visa or Mastercard</string>
		<key>lotType</key>
		<string>Visitor</string>
		<key>searchKey</key>
		<string>daily; REV</string>
		<key>latitude</key>
		<real>43.47134</real>
		<key>longitude</key>
		<real>-80.55454</real>
	</dict>
	<dict>
		<key>title</key>
		<string>CLV</string>
		<key>description</key>
		<string>$5.00 Permit controlled/ Visitor pay and display Purchase a ticket from the machine at the community centre Accept coin, WatCard, Visa, Mastercard, or tokens</string>
		<key>lotType</key>
		<string>Visitor</string>
		<key>searchKey</key>
		<string>daily; CLV</string>
		<key>latitude</key>
		<real>43.47058</real>
		<key>longitude</key>
		<real>-80.56310000000001</real>
	</dict>
	<dict>
		<key>title</key>
		<string>H</string>
		<key>description</key>
		<string>$2.00 hourly Max $10 After 3:45 p.m. and weekends: $5 flat rate Transponder Controlled/Reservations/Visitor Visitor parking is available during non-co-op days Visa American Express or MasterCard</string>
		<key>lotType</key>
		<string>Visitor</string>
		<key>searchKey</key>
		<string>daily; HH; PAS; EV1; EV2; EV3; AL; ML; TC; SCH</string>
		<key>latitude</key>
		<real>43.466959897997</real>
		<key>longitude</key>
		<real>-80.54057374459801</real>
	</dict>
	<dict>
		<key>title</key>
		<string>CGR</string>
		<key>description</key>
		<string>$3.00 hourly Max $9.00 Purchase ticket through the Honk Mobile App/ from the machine in the lot/ from the kiosk in the front entrance The machine requires exact change in coins</string>
		<key>lotType</key>
		<string>Visitor</string>
		<key>searchKey</key>
		<string>CGR; MHR</string>
		<key>latitude</key>
		<real>43.4658</real>
		<key>longitude</key>
		<real>-80.54427</real>
	</dict>
	<dict>
		<key>title</key>
		<string>OV</string>
		<key>description</key>
		<string>$5.00 daily Pay on exit with Visa or MasterCard Accept exit vouchers given by the clinics at Optometry</string>
		<key>lotType</key>
		<string>Visitor</string>
		<key>searchKey</key>
		<string>daily; OPT</string>
		<key>latitude</key>
		<real>43.4761</real>
		<key>longitude</key>
		<real>-80.54387</real>
	</dict>
	<dict>
		<key>title</key>
		<string>STP</string>
		<key>description</key>
		<string>$6.00 daily Purchase parking pass in the  Student and Guest Services Centre  during business hours/ use the automated machine evenings and weekends</string>
		<key>lotType</key>
		<string>Visitor</string>
		<key>searchKey</key>
		<string>daily; STP</string>
		<key>latitude</key>
		<real>43.46707</real>
		<key>longitude</key>
		<real>-80.54617</real>
	</dict>
	<dict>
		<key>title</key>
		<string>STJ</string>
		<key>description</key>
		<string>Pay per entry Parking for visitors are available after 5 p.m. and on the weekends.</string>
		<key>lotType</key>
		<string>Visitor</string>
		<key>searchKey</key>
		<string>STJ</string>
		<key>latitude</key>
		<real>43.46959</real>
		<key>longitude</key>
		<real>-80.54696</real>
	</dict>
	<dict>
		<key>title</key>
		<string>REN</string>
		<key>description</key>
		<string>The pay-per-exit fee is $7.00. Accept debit or credit cards</string>
		<key>lotType</key>
		<string>Visitor</string>
		<key>searchKey</key>
		<string>REN</string>
		<key>latitude</key>
		<real>43.46891</real>
		<key>longitude</key>
		<real>-80.54858</real>
	</dict>
	<dict>
		<key>title</key>
		<string>UWP</string>
		<key>description</key>
		<string>$5.00 Pay and display permits are valid in UWP only</string>
		<key>lotType</key>
		<string>Visitor</string>
		<key>searchKey</key>
		<string>daily; UWP</string>
		<key>latitude</key>
		<real>43.47127</real>
		<key>longitude</key>
		<real>-80.53371</real>
	</dict>
	<dict>
		<key>title</key>
		<string>E</string>
		<key>description</key>
		<string>Free parking Monitored by UW Parking Staff  8 a.m. - 6 p.m. Monday to Friday Open to the public all other times</string>
		<key>lotType</key>
		<string>Visitor</string>
		<key>searchKey</key>
		<string>free; UWP</string>
		<key>latitude</key>
		<real>43.4693737309</real>
		<key>longitude</key>
		<real>-80.5340337753</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Q</string>
		<key>description</key>
		<string>Permit controlled/ Visitor pay and display Purchase a ticket from the machine Pay and display permits are vaild in Q lot only Accept coin, WatCard, Visa or Mastercard</string>
		<key>lotType</key>
		<string>Visitor</string>
		<key>searchKey</key>
		<string>EC1; EC2; EC3; EC4; EC5</string>
		<key>latitude</key>
		<real>43.4756453259</real>
		<key>longitude</key>
		<real>-80.5402457714</real>
	</dict>
	<dict>
		<key>title</key>
		<string>DC; GSC</string>
		<key>description</key>
		<string>See the instructions on meters</string>
		<key>lotType</key>
		<string>Meter</string>
		<key>searchKey</key>
		<string>DC; GSC; C2; MC; M3</string>
		<key>latitude</key>
		<real>43.4731856247</real>
		<key>longitude</key>
		<real>-80.54266965319999</real>
	</dict>
	<dict>
		<key>title</key>
		<string>MKV; V1</string>
		<key>description</key>
		<string>See the instructions on meters</string>
		<key>lotType</key>
		<string>Meter</string>
		<key>searchKey</key>
		<string>MKV; V1</string>
		<key>latitude</key>
		<real>43.47111</real>
		<key>longitude</key>
		<real>-80.55115000000001</real>
	</dict>
	<dict>
		<key>title</key>
		<string>V1; UC</string>
		<key>description</key>
		<string>See the instructions on meters</string>
		<key>lotType</key>
		<string>Meter</string>
		<key>searchKey</key>
		<string>V1; UC</string>
		<key>latitude</key>
		<real>43.47218</real>
		<key>longitude</key>
		<real>-80.54883</real>
	</dict>
	<dict>
		<key>title</key>
		<string>PAC; SLC</string>
		<key>description</key>
		<string>See the instructions on meters</string>
		<key>lotType</key>
		<string>Meter</string>
		<key>searchKey</key>
		<string>PAC; SLC</string>
		<key>latitude</key>
		<real>43.47164</real>
		<key>longitude</key>
		<real>-80.54618000000001</real>
	</dict>
	<dict>
		<key>title</key>
		<string>HS</string>
		<key>description</key>
		<string>See the instructions on meters</string>
		<key>lotType</key>
		<string>Meter</string>
		<key>searchKey</key>
		<string>HS</string>
		<key>latitude</key>
		<real>43.470255882</real>
		<key>longitude</key>
		<real>-80.5459249341</real>
	</dict>
	<dict>
		<key>title</key>
		<string>T</string>
		<key>description</key>
		<string>See the instructions on meters</string>
		<key>lotType</key>
		<string>Meter</string>
		<key>searchKey</key>
		<string>MHR</string>
		<key>latitude</key>
		<real>43.4654355332</real>
		<key>longitude</key>
		<real>-80.54142280879999</real>
	</dict>
	<dict>
		<key>title</key>
		<string>DWE; SCH</string>
		<key>description</key>
		<string>See the instructions on meters</string>
		<key>lotType</key>
		<string>Meter</string>
		<key>searchKey</key>
		<string>DWE; SCH; GH; RCH</string>
		<key>latitude</key>
		<real>43.46966</real>
		<key>longitude</key>
		<real>-80.53972</real>
	</dict>
	<dict>
		<key>title</key>
		<string>OPT</string>
		<key>description</key>
		<string>See the instructions on meters</string>
		<key>lotType</key>
		<string>Meter</string>
		<key>searchKey</key>
		<string>OPT</string>
		<key>latitude</key>
		<real>43.47584</real>
		<key>longitude</key>
		<real>-80.54485</real>
	</dict>
	<dict>
		<key>title</key>
		<string>Q</string>
		<key>description</key>
		<string>See the instructions on meters</string>
		<key>lotType</key>
		<string>Meter</string>
		<key>searchKey</key>
		<string>EC1; EC2; EC3; EC4; EC5</string>
		<key>latitude</key>
		<real>43.4750983799</real>
		<key>longitude</key>
		<real>-80.5417899851</real>
	</dict>
	<dict>
		<key>title</key>
		<string>E7; ECH</string>
		<key>description</key>
		<string>See the instructions on meters</string>
		<key>lotType</key>
		<string>Meter</string>
		<key>searchKey</key>
		<string>E5; E6; E7; ECH</string>
		<key>latitude</key>
		<real>43.4732964348</real>
		<key>longitude</key>
		<real>-80.5395206684</real>
	</dict>
	<dict>
		<key>title</key>
		<string>REN</string>
		<key>description</key>
		<string>See the instructions on meters</string>
		<key>lotType</key>
		<string>Meter</string>
		<key>searchKey</key>
		<string>REN</string>
		<key>latitude</key>
		<real>43.4696408002</real>
		<key>longitude</key>
		<real>-80.5482187309</real>
	</dict>
	<dict>
		<key>title</key>
		<string>ML; EV3</string>
		<key>description</key>
		<string></string>
		<key>lotType</key>
		<string>Motorcycle</string>
		<key>searchKey</key>
		<string>EV1; EV2; EV3; ML; AL</string>
		<key>latitude</key>
		<real>43.468597619611</real>
		<key>longitude</key>
		<real>-80.543191842735</real>
	</dict>
	<dict>
		<key>title</key>
		<string>H</string>
		<key>description</key>
		<string></string>
		<key>lotType</key>
		<string>Motorcycle</string>
		<key>searchKey</key>
		<string>daily; HH; PAS; EV1; EV2; EV3; AL; ML; TC; SCH</string>
		<key>latitude</key>
		<real>43.466832595888</real>
		<key>longitude</key>
		<real>-80.54061658680401</real>
	</dict>
	<dict>
		<key>title</key>
		<string>DWE; SCH</string>
		<key>description</key>
		<string></string>
		<key>lotType</key>
		<string>Motorcycle</string>
		<key>searchKey</key>
		<string>DWE; SCH; GH; RCH</string>
		<key>latitude</key>
		<real>43.469620169043</real>
		<key>longitude</key>
		<real>-80.539586294297</real>
	</dict>
	<dict>
		<key>title</key>
		<string>UWP</string>
		<key>description</key>
		<string></string>
		<key>lotType</key>
		<string>Motorcycle</string>
		<key>searchKey</key>
		<string>UWP</string>
		<key>latitude</key>
		<real>43.470522215549</real>
		<key>longitude</key>
		<real>-80.53617803929301</real>
	</dict>
	<dict>
		<key>title</key>
		<string>PAC; LHI; UC</string>
		<key>description</key>
		<string></string>
		<key>lotType</key>
		<string>Motorcycle</string>
		<key>searchKey</key>
		<string>PAC; LHI; UC; AHS; BMH; SLC</string>
		<key>latitude</key>
		<real>43.472745523991</real>
		<key>longitude</key>
		<real>-80.54655499756301</real>
	</dict>
	<dict>
		<key>title</key>
		<string>V1; UC</string>
		<key>description</key>
		<string></string>
		<key>lotType</key>
		<string>Motorcycle</string>
		<key>searchKey</key>
		<string>V1; UC; FED</string>
		<key>latitude</key>
		<real>43.472316128251</real>
		<key>longitude</key>
		<real>-80.548830851912</real>
	</dict>
	<dict>
		<key>title</key>
		<string>N</string>
		<key>description</key>
		<string></string>
		<key>lotType</key>
		<string>Motorcycle</string>
		<key>searchKey</key>
		<string>COM; OPT; ERC; CSB; M3; GSC; EC3</string>
		<key>latitude</key>
		<real>43.475101340233</real>
		<key>longitude</key>
		<real>-80.543452415788</real>
	</dict>
	<dict>
		<key>title</key>
		<string>E6; ECH</string>
		<key>description</key>
		<string></string>
		<key>lotType</key>
		<string>Motorcycle</string>
		<key>searchKey</key>
		<string>ECH; E5; E6; E7</string>
		<key>latitude</key>
		<real>43.473501533583</real>
		<key>longitude</key>
		<real>-80.53962685167799</real>
	</dict>
	<dict>
		<key>title</key>
		<string>NH</string>
		<key>description</key>
		<string>Maxstay: 15 minutes Capacity: 9</string>
		<key>lotType</key>
		<string>Short-term</string>
		<key>searchKey</key>
		<string>Short-term; NH</string>
		<key>latitude</key>
		<real>43.46954</real>
		<key>longitude</key>
		<real>-80.544</real>
	</dict>
	<dict>
		<key>title</key>
		<string>EV3</string>
		<key>description</key>
		<string>Maxstay: 15 minutes Capacity: 2</string>
		<key>lotType</key>
		<string>Short-term</string>
		<key>searchKey</key>
		<string>Short-term; EV1; EV2; EV3</string>
		<key>latitude</key>
		<real>43.4679</real>
		<key>longitude</key>
		<real>-80.54367999999999</real>
	</dict>
</array>
</plist>
